<app-breadcrumb [breadcrumbList]="breadcrumbData"></app-breadcrumb>


<div class="w3-light-gray w3-block w3-padding filter-section w3-padding">
  <div class="row">

    <div class="col-lg-2 col-md-2 col-sm-6 w3-padding">
      <b>{{ "search with name or description" | trans }}</b>
      <input type="text" class="app-select material-shadow w3-white"
      style="border-radius: 5em;" [(ngModel)]="filter.search" >
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 w3-padding">
      <b>{{ "select course" | trans }}</b>
      <select class="app-select material-shadow w3-white"
      (change)="filter.lecture_id=null"
      style="border-radius: 5em;" [(ngModel)]="filter.course_id"  >
        <option value="">{{ "select course" | trans }}</option>
        <ng-container  *ngFor="let item of courses">
          <option  value="{{ item.id }}">{{ item.name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 w3-padding">
      <b>{{ "select lecture" | trans }}</b>
      <select class="app-select material-shadow w3-white" style="border-radius: 5em;" [(ngModel)]="filter.lecture_id"  >
        <option value="">{{ "select lecture" | trans }}</option>
        <ng-container  *ngFor="let item of lectures">
          <option *ngIf="item.course_id == filter.course_id" value="{{ item.id }}">{{ item.name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 w3-padding">
      <br>
      <button mat-raised-button [disabled]="reload" class="w3-block w3-dark-gray w3-row app-button" (click)="get()" >
        <b class="w3-right" >{{ "reload" | trans }}</b>
        <i class="fa fa-refresh w3-left" style="padding-top: 10px;" *ngIf="!reload" ></i>
        <i class="fa fa-refresh fa-spin w3-left" style="padding-top: 10px;" *ngIf="reload" ></i>
      </button>
    </div>
  </div>
</div>
<div class="w3-row">


  <div class="col-lg-12" style="overflow: auto;">
    <div class="row w3-padding">

      <div class="col-lg-12 col-md-12 col-sm-12">



      </div>


      <div class="col-lg-12 w3-padding text-center w3-xlarge theme-text-dark" *ngIf="reload">
        <span class="fa fa-spin fa-spinner"></span>
      </div>

      <div class="col-lg-12 w3-padding text-center w3-xlarge theme-text-dark" *ngIf="!reload && courses.length <= 0">
        <span class="">{{ "there is no data" | trans }}</span>
      </div>

      <ng-container *ngFor="let item of assignments index as i">

        <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="!reload">

          <div class="post material-shadow w3-white w3-round w3-display-container w3-block w3-padding">
            <div class="user-block w3-text-gray">
              <app-app-avatar
              [url]="item.doctor? item.doctor.photo_url : null"
              [icon]="'fa fa-user-circle'" [class]="'w3-round w3-col text-center'"
                [width]="'50px'" [height]="'50px'"></app-app-avatar>
              <span class="username" style="padding: 5px!important">
                <a href="#">{{ item.doctor? item.doctor.name : '' }}</a>
              </span>
              <span class="description" style="padding: 5px!important">{{ item.created_at | date }}</span>
            </div>
            <div class="w3-large" *ngIf="item.name">
              <b>{{ item.name }}</b>
            </div>
            <!-- /.user-block -->
            <p style="width: 60%" *ngIf="item.description" >
              {{ item.description }}
            </p>
            <a mat-raised-button class="w3-round light-gray"
              [href]="trustUrl(item.file_url)"
              target="_blank"
              style="width: 100px;border-radius: 5em;padding: 0px!important;margin: 3px">
              <i class="fa fa-cloud-download w3-large"></i>
            </a>
            <a mat-raised-button class="w3-round light-gray"
              [href]="trustUrl(item.file_url)"
              target="_blank"
              style="width: 100px;border-radius: 5em;padding: 0px!important;margin: 3px">
              <i class="fa fa-desktop w3-large"></i>
            </a>
            <input type="file"  class="hidden" [id]="'studentUploadFileInput'+item.id" (change)="loadFile($event, item, 'student_file')" >
            <button mat-raised-button class="w3-round w3-red"
              [disabled]="item.isSubmitted"
              (click)="$('#'+'studentUploadFileInput'+item.id).click()"
              style="width: 100px;border-radius: 5em;padding: 0px!important;margin: 3px">
              <i class="fa fa-cloud-upload w3-large" *ngIf="!item.isSubmitted" ></i>
              <i class="fa fa-spin fa-spinner w3-large" *ngIf="item.isSubmitted" ></i>
              {{ "upload your file" | trans }}
            </button>
            <b style="padding: 5px" *ngIf="item.student_file" >{{ item.student_file.name   }}</b>
            <b style="padding: 5px" *ngIf="!item.student_file && item.student_assignment" >
              <a [href]="trustUrl(item.student_assignment.file_url)" target="_blank" >
                {{ "view uploaded file" | trans }}
              </a>
            </b>
            <br>
            <br>
            <ul class="list-inline">
              <li>
                <b>{{ item.date_from | date }}</b> ------------- <b>{{ item.date_to | date }}</b>
              </li>
            </ul>

            <div class="w3-display-topleft w3-padding">
              <div class="w3-padding theme-semi-dark w3-text-white w3-round text-center" style="margin-bottom: 5px;border-radius: 5em;">{{ item.course? item.course.name : '' }}</div>
              <div class="w3-padding theme-semi-dark w3-text-white w3-round text-center" style="margin-bottom: 5px;border-radius: 5em;">{{ item.lecture? item.lecture.name : '' }}</div>
              <div
                style="padding: 5px" *ngIf="item.student_assignment"
                class="w3-padding w3-green w3-round text-center"
                style="border-radius: 5em;">
                <a [href]="trustUrl(item.student_assignment.file_url)" target="_blank" >
                  {{ "view uploaded file" | trans }}
                </a>
              </div>
            </div>
            <br>
            <a mat-raised-button class="w3-round w3-indigo"
              *ngIf="item.student_file"
              [disabled]="item.isSubmitted"
              (click)="send(item)"
              style="width: 100px;border-radius: 5em;padding: 0px!important;margin: 3px">
              {{ "send" | trans }}
            </a>

          </div>

        </div>


      </ng-container>


    </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  </div>


</div>

